* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}

.fixed {
  position: fixed;
  top: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f8f9;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 80px;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
}

nav .logo i {
  font-size: 35px;
}

nav .logo h2 {
  margin: 0 0 0 10px;
}

nav ul {
  margin: 0 20px 0 0;
}

nav ul li {
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 16px;
  cursor: pointer;
}




section .hero-block {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 1200px;
}

section .hero-block .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .hero-block .left text {
  text-align: left;
}

section .hero-block .left h2 {
  font-size: 48px;
  margin: 0 0 40px 0;
}

section .hero-block .left .button-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}

section .hero-block .left .button-row a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  background-color: #ba68c8;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

section .hero-block .left .button-row a:hover {
  background-color: #82498c;
  transition: all 0.5 ease-in-out;
}

section .hero-block .left .button-row #how-btn {
  background-color: white;
  border: 1px solid #ba68c8;
  color: #ba68c8;
  margin-left: 10px;
}

section .hero-block .left .button-row #how-btn:hover {
  background-color: #82498c;
  transition: all 0.5s ease-in-out;
  color: white;
}



section .hero-block .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .hero-block .right img {
  display: block;
  width: 550px;
  height: 600px;
}



section .about-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1200px;
}

section .about-block .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

section .about-block .right h2 {
  text-align: left;
  width: 100%;
}

section .about-block .right p {
  margin: 10px 0 10px 0;
}

section .about-block .left {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .about-block .left img {
  display: block;
  width: 550px;
  height: 600px;
}


section .usage-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1200px;
}

section .usage-block .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  width: 100%;
  text-align: center;
}

section .usage-block .title h2 {
  margin: 0 30px 0 30px;
}

section .usage-block .title p {
  margin: 0 30px 0 30px;
}

section .usage-block .usage-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

section .usage-block .usage-row .usage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 350px;
  width: 400px;
  margin: 0 20px 0 20px;
  border: 1px solid #efefef;
  border-radius: 20px;
}

section .usage-block .usage-row .usage .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section .usage-block .usage-row .usage .header i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: #ba68c8;
  border-radius: 20px;
  padding: 15px;
  margin: 0 0 10px 0;
}

section .usage-block .usage-row .usage .header h2 {
  text-align: center;
}

section .usage-block .usage-row .usage p {
  text-align: center;
  padding: 25px;
}


section .plans-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1200px;
}

section .plans-block .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  width: 100%;
  text-align: center;
}

section .plans-block .title h2 {
  margin: 0 30px 0 30px;
}

section .plans-block .title p {
  margin: 0 30px 0 30px;
}

section .plans-block .plans-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

section .plans-block .plans-row .plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 600px;
  width: 330px;
  margin: 0 20px 0 20px;
  border: 1px solid #efefef;
  border-radius: 20px;
}

section .plans-block .plans-row .plans .prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 0 20px 0;
}

section .plans-block .plans-row .plans .prices p {
  font-size: 20px;
  font-weight: 700;
}

section .plans-block .plans-row .plans .prices i {
  font-size: 80px;
  color: #ba68c8;
  margin: 10px 0 10px 0;
}

section .plans-block .plans-row .plans .prices h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 5px 0 0;
}



section .plans-block .plans-row .plans .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section .plans-block .plans-row .plans .info li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

section .plans-block .plans-row .plans .info i {
  font-size: 20px;
  color: #ba68c8;
  margin: 10px 10px 10px 25px;
}


section .plans-block .plans-row .plans .row-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

section .plans-block .plans-row .plans .row-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba68c8;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

section .plans-block .plans-row .plans .row-btn a:hover{
  background-color: #82498c;
  transition: all 0.5s ease-in-out;
}

section .plans-block .plans-row .plans .row-btn i {
  margin: 0 10px 0 0;
}



section .footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #eeefff;
}

section .footer-block .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

section .footer-block .footer a {
  cursor: pointer;
  color: black;
}

section .footer-block .left {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 20px;
}

section .footer-block .left .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

section .footer-block .left .logo i {
  font-size: 35px;
  color: black;
}

section .footer-block .left .logo h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 0 10px;
  color: black;
}

section .footer-block .left ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

section .footer-block .left ul li {
  display: inline-block;
  font-size: 16px;
}

section .footer-block .left ul li i {
  margin: 0 5px 0 0;
  font-size: 16px;
}

section .footer-block .left a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

section .footer-block .right {
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

section .footer-block .right .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 250px;
}

section .footer-block .right .block h3 {
  margin: 0 0 20px 0;
}

section .footer-block .right .block ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

section .footer-block .right .block ul li {
  width: 100%;
  margin: 5px;
}

@media (max-width: 850px) {

  header nav .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  
  header nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  header nav .logo i {
    font-size: 32px !important;
  }

  header nav .logo h2 {
    font-size: 24px !important;
  }


  header nav ul {
    position: fixed;
    background-color: #ba68c8;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    padding: 0;
  }

  header nav ul li {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 0;
  }

  
  #check:checked ~ ul {
    left: 0;
  }









  section .hero-block {
    flex-direction: column-reverse;
    height: 100%;
    margin: 120px 0 80px 0;
  }

  section .hero-block .left .text {
    padding: 0 10px 0 10px;
    text-align: center;
  }

  section .hero-block .left .text h2 {
    font-size: 25px;
    margin: 0;
  }

  section .hero-block .left .text p {
    margin: 20px 0 20px 0;
  }

  section .hero-block .left .button-row {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  section .hero-block .left .button-row #how-btn {
    margin: 10px 0 0 0;
  }

  section .hero-block .right img {
    width: 300px;
    height: 300px;
  }


  section .about-block {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 80px 0 80px 0;
  }

  section .about-block .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  section .about-block .left img {
    width: 320px;
    height: 320px;
  }

  section .about-block .right {
    margin: 40px 0 0 0;
  }



  section .usage-block {
    height: 100%;
    width: 100%;
    margin: 100px 0 100px 0;
  }

  section .usage-block .usage-row {
    flex-direction: column;
    height: 100%;
  }

  section .usage-block .usage-row .usage {
    width: 85%;
    margin: 15px 0 15px 0;
  }



  section .plans-block {
    height: 100%;
    width: 100%;
    margin: 100px 0 100px 0;
  }

  section .plans-block .plans-row {
    flex-direction: column;
    height: 100%;
  }

  section .plans-block .plans-row .plans {
    width: 85%;
    margin: 15px 0 15px 0;
  }



  section .footer-block {
    height: auto;
  }

  section .footer-block .footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0;
  }

  section .footer-block .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .footer-block .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .footer-block .left ul {
    margin-bottom: 20px;
  }

  section .footer-block .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  section .footer-block .right .block h3 {
    margin: 30px 0 0 0;
  }

}